@import './theme.scss';
@import './styles/font.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content--standard {
    height: 100vh;
    display: block;
    background: #f9f9f9;
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.success-snackbar .mdc-snackbar__surface {
    background-color: rgb(18, 158, 18) !important;
    color: white;
}

.error-snackbar .mdc-snackbar__surface {
    background-color: rgb(202, 32, 32) !important;
    color: white;
}